name: Upload PyPI Package

on:
  push:
    tags:
      *

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Set up Python
      uses: actions/setup-python@v1
      with:
        python-version: 3.7
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r dev-requirements.txt
        pip install -e .
    - name: Verify tag and version match
      run: |
        python setup.py verify
    - name: Create source distribution
      run: |
        python setup.py sdist
    - name: Create wheel
      run: |
        python setup.py bdist_wheel
    - name: Upload built artifacts to PyPI
      env:
        TWINE_USERNAME: __token__
        TWINE_PASSWORD: {{secrets.PYPI_API_TOKEN}}
      run: |
        twine upload dist/*
