name: CI

on: [push]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        # python-version: [3.6, 3.7, 3.8, 3.9-dev, 3.10-dev]
        python-version: [3.6, 3.7, 3.8, 3.9-dev]
        os: [ubuntu-latest, windows-latest, macos-latest]
#         exclude:
#           - os: macos-latest
#             python-version: 3.9-dev
          # - os: macos-latest
          #   python-version: 3.10-dev
#           - os: windows-latest
#             python-version: 3.9-dev
          # - os: windows-latest
          #   python-version: 3.10-dev
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
#         if: "!endsWith(matrix.python-version, '-dev')"
        with:
          python-version: ${{ matrix.python-version }}
#       - uses: deadsnakes/action@v1.0.0
#         if: endsWith(matrix.python-version, '-dev')
#         with:
#           python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r dev-requirements.txt
          pip install -e .
      - name: Lint with flake8
        run: |
          flake8 phial/ tests/ examples/
      - name: Lint with mypy
        run: |
          mypy phial tests stubs examples --strict-optional --disallow-untyped-defs --disallow-incomplete-defs --disallow-untyped-decorators --no-implicit-optional --disallow-subclassing-any
      - name: Test with pytest
        run: |
          pytest tests -v
      - name: Build docs
        run: |
          python -msphinx -M html "docs/source" "build/"
